<% tweets.each do |tweet| %>
  <div class="tweet">


    <div class="tweet-name">
      <%= link_to tweet.user.name, user_path(tweet.user) %>
    </div>

    <div class="tweet-content">
      <%= tweet.content %>
    </div>

    <div class="tweet-right" align="right">

      <span class="tweetDate">
        <%= date_format(tweet.created_at) %>
      </span>

      <!--  ここからいいね機能-->
      <span id="like_<%= tweet.id %>">

        <%= render 'pages/like', tweet: tweet %>

      </span>

    <!--  ここまでいいね機能-->







      <% if tweet.user == current_user %>
        <%= link_to "削除", tweet_path(tweet.id), method: :delete,
                  data: { confirm: "本当に削除しますか?" } %>
      <% end %>



    </div>

  </div>
<% end %>

<%= paginate tweets %>

