<div id="show-content">
  <div id="user-name">
    <%= current_user.name %>
  </div>
  <%= link_to "ユーザー情報編集", edit_user_path(current_user) %>

  <div id="follow_count">
    <%= link_to "follow(#{current_user.follow_count})", follow_list_path(current_user) %>
    <%= link_to "follower(#{current_user.followers_count})", follower_list_path(current_user) %>
  </div>
</div>


<div class="tweet-container">
  <div id="show-name">
    <ul id="show-list">
      <li style="font-weight: bold">新着ツイート一覧</li>
      <li><%= link_to "すべてのツイート", root_path %></li>
      <li><%= link_to "フォロー中", tweets_path %></li>
    </ul>
  </div>

  <%= render 'tweets/tweets', tweets: @tweets %>
</div>