<div class="form-content">

  <% @tweet.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>

  <%= form_for(@tweet) do |f| %>
    <%= f.text_area :content, placeholder: "ツイートを入力して下さい" %>
    <%#= f.file_field :picture %>
    <%= f.submit "投稿する" %>
  <% end %>
</div>