<div id="show-content">
  <div id="user-name">
    <%= link_to user.name, user_path(user) %>
    <span class="edit-link"><%= link_to "編集", edit_user_path(current_user) if current_user == user %></span>
  </div>
  <% unless current_user == user %>

          <% if current_user.following? user %>
            フォロー中(<%= link_to 'ブロックする', unfollow_path(user), method: :delete %>)
          <% else %>
            <%= link_to 'フォローする', follow_path(user), method: :post %>
          <% end %>
  <% end %>

  <div id="follow_count">
    <%= link_to "follow(#{@user.follow_count})", follow_list_path(@user) %>
    <%= link_to "follower(#{@user.followers_count})", follower_list_path(@user) %>
  </div>
</div>