<div class="form-content">
  <%= form_for(@user) do |f| %>

    <%= f.label :name, "ユーザー名" ,class: "label" %>
    <%= f.text_field :name %>

    <%= f.label :email, "メールアドレス" ,class: "label" %>
    <%= f.email_field :email %>

    <%= f.label :password, "パスワード" ,class: "label"%>
    <%= f.password_field :password %>

    <%= f.label :password_confirmation, "パスワードの確認" ,class: "label" %>
    <%= f.password_field :password_confirmation %>

    <%= f.submit "アカウントを編集する" %>
  <% end %>
</div>
