
<%= render 'show_content', user: @user %>

<div class="tweet-container">
  <div id="show-name">
  <%= @user.name %>さんのツイート一覧
  </div>

  <%= render 'tweets/tweets', tweets: @tweets %>
</div>
<%# unless @user == current_user %>
  <%# if current_user.following?(@user) %>
    <%#= link_to 'フォロー解除', unfollow_path(@user), method: :delete  %>
  <%# else %>
    <%#= link_to 'フォローする', follow_path(@user), method: :post %>
  <%# end %>
<%# end %>






<%#= @user.name %>
<%# if current_user && @user != current_user %>

  <%# if current_user.following?(@user) %>
    <%#= link_to 'フォロー解除', unfollow_path(@user), method: :delete  %>
  <%# else %>
    <%#= link_to 'フォローする', follow_path(@user), method: :post %>
  <%# end %>

<%# end %>

<%#= render 'tweets/tweets', tweets: @tweets  %>







