<header class="header">
  <div class="headerLeft">
    <h1 class="headerLogo"><%= link_to "TutoApp", root_url %></h1>
    <ul class="headerNav">
      <li><%= link_to "Home", root_url  %></li>
      <li><%= link_to "About", about_path %></li>
      <li>
        <% if current_user %>
          <%= link_to "つぶやく", new_tweet_path %>
        <% end %>
      </li>
    </ul>
  </div>

  <div class="headerRight">

    <div class="user_icon" style="background-image: url(<%= asset_path "dog.jpg" %>)"></div>

    <% if current_user %>

      <%= link_to current_user.name, user_path(current_user) %>
      <%#= current_user.name %>
      <%= link_to "ログアウト", logout_path, method: :delete %>

    <% else %>

      <%= link_to "新規登録", new_user_path %>
      <%= link_to "ログイン", login_path %>

    <% end %>

  </div>
</header>