<% if current_user %>


  <% if tweet.like_user(current_user) %>

    <%= link_to tweet_like_path(tweet, tweet.like_user(current_user)), method: :delete, remote: true do %>

      <%= fa_icon 'heart', class: "fa-pink", text: tweet.likes.count %>

    <% end %>
  <% else %>

    <%= link_to tweet_likes_path(tweet), method: :post, remote: true do %>

      <%= fa_icon 'heart',  text: tweet.likes.count %>

    <% end %>

  <% end %>




<% else %>

  <%= fa_icon 'heart', text: tweet.likes.count %>

<% end %>


