<%= render 'users/show_content', user: current_user %>


<div class="tweet-container">
  <div id="show-name">
    <ul id="show-list">
      <li style="font-weight: bold">新着ツイート一覧</li>
      <li><%= link_to "すべてのツイート", root_url %></li>
      <li><%= link_to "フォロー中", tweets_path %></li>
    </ul>
  </div>

  <%= link_to "すべてのツイート", root_url %>
  <%= link_to "フォロー中", tweets_path %>

  <%= render 'tweets/tweets', tweets: @tweets %>
</div>











