/* app/assets/stylesheets/custom.css */


html{
    font-size: 16px;
}
a{
    text-decoration: none;
    color: inherit;
}

.pagination a {
    text-decoration: underline;
}

body {
    background-color: #EFEFEF;

}
.header{
    width: 90%;
    height: 80px;
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #55acee;
}
.headerLeft,
.headerNav{
    display: flex;
    align-items: center;
}

.headerRight p{
    display: inline-block;
}
.headerLogo{
    font-size: 30px;
    margin-right: 20px;
    font-weight: bold;
}
.headerNav li{
    padding:0 10px;
}
.headerRight a{
    margin-left: 10px;
}
.headerRight {
    display: flex;
    align-items: center;
    background-size: cover;

}




.main{
    width: 90%;
    margin:0 auto;
    padding: 80px 50px 40px;
    box-sizing: border-box;
    min-height: 90vh;
    display:flex;
}

.form-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #DADADA;
}

form{
    width: 60%;
    margin: 0 auto;
}

input{
    width: 100%;
    padding: 5px 0;
    margin: 5px 0;
}

.tweet-container {
    width: 80%;
}



#tweet_content{
    width: 100%;
    border-radius: 0.5em;
    text-decoration: none;
    border: 2px solid #2E2F30;
    padding: 20px;
    margin-bottom: 10px;
    clear: both;

}



.label{
    display: block;
}
input[type="submit"]{
    display: block;
    line-height: 30px;
    margin: 5px auto;
    background-color: #B0E0E6;
    width: 50%;
}

.fa-pink
{
    color: #ff69b4;
}

.tweet {
    min-height: 100px;
    border: 1px solid #EFEFEF;
    padding: 10px;
    background-color: white;
    position: relative;
}

.tweet:hover {
    background-color: #F7F7F7;
}

.error-message {
    font-size: 12px;
    color: #B00100;
    padding: 5px;
    display: block;
}

.tweet-name{
    margin-bottom: 10px;
    font-weight: bold;
}

.tweetDate{
    font-size: 12px;
}

#show-name {
    margin-bottom: 20px;

}

#show-content {
    margin-bottom: 20px;
    margin-right: 20px;
    background-color: white;
    height: 100px;
    width: 200px;
    padding: 10px;
}

#follow_count {
    font-size: 12px;
    padding: 10px
}

.tweet-right {
    bottom: 0;
    right: 0;
    position: absolute;
    margin: 10px;
}

#show-list li {
    float: left;
    margin-right: 5px;
}

#user-name {
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}

.follow_list {
    display: flex;
    flex-wrap: wrap;

}

.edit-link {
    font-weight: normal;
    font-size: 15px;
}


/*よくあるユーザーアイコン例*/
.user_icon {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-size: cover;
}